// Colors
$primary: #FBCD97;

$secondary: #491813;

$tertiary: #BB3630;

// Font
$font-header: "Windlass", "Helvetica", "Arial", sans-serif;
$font-text: "Titillium Web", "Helvetica", "Arial", sans-serif;

$white: white;
$black: black;

// Styling
$radius-1: 8px;
$radius-2: 12px;

$gap-small: 0.5rem;
$gap-normal: 1rem;
$gap-large: 2rem;
